# IPTV config
XTREAM_SERVER_URL=
XTREAM_USERNAME=
XTREAM_PASSWORD=
M3U_PLAYLIST_URL=
CACHE_TTL_SECONDS=300

# Admin Basic Auth
ADMIN_USERNAME=
ADMIN_PASSWORD=

# Uvicorn
UVICORN_HOST=0.0.0.0
UVICORN_PORT=8000
UVICORN_WORKERS=2

# Public API resolver
API_BASE_URL=https://computatively-intelligent-arlena.ngrok-free.dev
DEFAULT_API_URL=https://computatively-intelligent-arlena.ngrok-free.dev
